/* // font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif; */
*{
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif; 
}
#timg{
    height: 300px;
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
}
#timg>img{
    height: 100%;
    width: 100%;
}
#toptxt{
    padding-left: 20px;
    height: 180px;
    width: 68%;
    /* border: 1px solid black; */
    margin: auto;
   
}
#toptxt>h4{
    
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#toptxt>div>img{
    margin-right: 10px;
    margin-bottom: 3px;
}
#toptxt>div{
    font-size: 20px;
    font-weight: 400;
    font-family: Suisse Intl,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#toptxt>div:hover{
    cursor: pointer;
    text-decoration: underline;

}
.mainBrwseDiv{
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 70%;
    margin: auto;
    margin-top: -2rem;
}
.browseAndShop{
   align-self: center;
   margin:1.7rem 38%;
   margin-top: 1.7rem;
   padding-top: 1.7rem;

}
#brows{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
#brows>div{
    /* height: 400px; */
    /* border: 1px solid black; */
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}
#brows>div>img{
    width: 100%;
    height: 60%;
}
#shopBtn{
    padding: 0.4rem 0.5rem;
    margin-bottom: -0rem;
    background-color: white;
    border: none;
    margin-top: 8px;
}
#shopBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.productDetail{
    height: 50px;
    /* border: 1px solid red; */
    color: grey;
    font-size: 14px;
    overflow: hidden;
    margin-top: 5px;
}
.productTitle{
    height: 55px;
    /* border: 1px solid red; */
    font-weight: 900;
    font-size: 20px;
    overflow: hidden;
}

#trendingInspire{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
#trendingInspire>div{
    /* border: 1px solid black; */
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}
#trendingInspire>div>img{
    width: 100%;
    height: 60%;
}

#nxttxt{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid blue;
}
#nxttxt>div{

    line-height: 2px;
    border: 1px solid red;
}
#nxttxt>div>p:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
}
/* #shopBtn{
    padding: 0.4rem 0.5rem;
    margin-bottom: 0.8rem;
    background-color: white;
    border: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    
} */
/* .productDetail{
    overflow: hidden;
    color: grey;
    margin-top:-1rem;
    font-size: 14px;
} */
.nextPrevDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
#prevBtn{
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
#prevBtn:hover{
    padding: 10px;
    border: 1px solid black;
}
#nextBtn{
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
#nextBtn:hover{
    padding: 10px;
    border: 1px solid black;
}
#bottext{
    margin-top: -100px;
    height: auto;
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    
}

#arrange{
    font-weight: 800;
    display: flex;
    justify-content: space-around;
}
#arrange>div:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: white;
}
#nxtcon{
    display: flex;
    width: 100%;
    margin: auto;
    height: auto;
    /* border: 1px solid red; */
}
#leftcon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: auto;
    width: 61%;
    /* gap: 5px; */
    /* border: 1px solid blue; */
}
#leftcon>div{
    /* overflow: hidden; */

    padding-left: 5px;
    /* margin-bottom: 5px; */
    font-size: 12px;
    line-height: 2px;
    height: 120px;
    /* border: 1px solid green; */
}
#leftcon>div>p:hover{
    cursor: pointer;
    text-decoration: underline;

}
#rightcon{
    font-size: 12px;
    padding-left: 10px;
    height: 500px;
    width: 39%;
    /* border: 1px solid black; */
}
#cloth{
    
    text-decoration: underline;
}
